.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    margin: 10px;
    background-color:aliceblue;
}
.buscar {
    margin: 20px;
    width: 150px;
    height: 25px;
}
header .login {
    width: 150px;
    height: 25px;
    font-size: medium;
    border-radius: 8px;
}  
header .login:hover {
    font-weight: bold;
}
.banner_img {
    height: calc(100vh - 71px);    
    width: 100%;
}
.banner_sobre {
    width: 100%;    
    font-size: 2.0625rem;
    color: #1a0663;
    text-align: center; 
    margin: 10px;                   
}

