body {
    box-sizing: border-box;
    font-family: 'Poppins';
}
.cabecera {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    margin: 10px;
    background-color:aliceblue;
    height: calc(15vh - 20px);
}
.buscar {    
    margin: 20px;
    width: 150px;
    height: 25px;
}
header .login {
    width: 9rem;
    height: 2.5rem;
    font-size: 16px;
    border-radius: 8px;
}  
header .login:hover {
    font-weight: bold;
}
.banner_img {
    height: calc(100vh - 71px)
    position: static;    
    justify-content: center;    
    width: 100%;
    
}
.banner_sobre {
    width: 100%;    
    font-size: 2.0625rem;
    color: #1a0663;
    text-align: center; 
    margin: 10px;                   
}
.contacto {
    display: flex;
    background-color: #c2d2dd
}
.menu__ul {
    display:block
}
.menu__li {
    list-style: none;
}
.menu__a {
    color: #808080;
    margin-right: 0.25rem;
    text-decoration: none;
}
/*Login*/
.body_login {
    background-color: #828a94;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login__titulo {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.correopass {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.entrar {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.entrar:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
/*nuevo producto*/
.body_producto {
    background-color: #828a94;
}
.producto {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.titulo__producto {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.producto__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.input__producto {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.entrar {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.entrar:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
